<html>
    <head>
            <script src="/static/stones.js"></script>
            <script src="/static/mouse.js"></script>
            <link rel="stylesheet" href="/static/style.css" />

    </head>
    <body>

        <table border='1'>  <tr>
            <td>Status</td>
            <td>
                <select id="status">
                    <option>Placement</option>
                    <option>Influence</option>
                </select>
            </td>
            <td>Active</td>
            <td id="active"></td>
            <td>Turn</td>
            <td id="turn">black</td>
        </tr></table>
<hr/>
<table border='1'>
<tr>
    <td valign='top'>
<div id="canvasHolder">
  <canvas id="background" class="pane" width="640" height="640"></canvas>
  <canvas id="glasspane" class="pane" width="640" height="640"></canvas>
</div>
</td>
<td valign='top'>

    <select id="trainingGame" onChange="selectHistory();">
            <option>Choose training</option>
    </select>

    <hr> 
    <script>
        function loadGames() { 
            fetch('http://localhost:5000/histories/')
            .then(response => {
                return response.json()
            })
            .then(data => {
                let select = document.getElementById("trainingGame");
                for ( index in data ) {
                    let option = document.createElement("option");
                    option.text = data[index];
                    select.appendChild(option);
                }
            })
            .catch(err => {
                alert("Failed to load training game names: " + err )
            })
        }
        loadGames()
    </script>


</td>
</tr>
</table>
<hr/>
Hello world
                    

                    <script src="/static/logic.js"></script>

        <script>

    init( );

        
        </script>

     </body>
</html>