
.cell { 
  background-color:#b5651d;
  height:35px;
  width:35px;
  border: 3px solid brown;
  text-align: center;

}
.highlight { 
  background-color:#ffae42;
}
.metaCell { 
  background-color:#fff;
  height:35px;
  width:35px;
  border: 3px solid brown;
  text-align: center;

}
.blackCircle {
  background: #000;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-top:5px;
  margin-left:5px;
}
/* 
.blackCircle:before {
  content: ' \25CF';
  font-size: 45px;
}
*/ 