#parent {
  width:600px;
  height:600px;
  background-color:#e0e0e0;
  border:1px solid black;
  position:relative;
}

#background {
  position:absolute;
  left:26px;
  top:26px;
  border-style: solid;
}

#foreground {
  position: absolute;
  left:12px;
  top:12px;
  z-index:10;
}

.cell {
  background-color:#b5651d;
  height:26px;
  width:26px;
}

.cell2 {
  height:26px;
  width:26px;
}


.blackCircle {
  background: #000;
  width: 25px;  
  height: 25px;
  border-radius: 50%;
  margin-left:0px;
  color: #ffffff;
  z-index: 20;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
  
.whiteCircle { 
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left:0px;
  z-index: 20;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}